/* Not Found */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #023E8A;
  min-height: 80vh;
}
.not-found h2 {
  font-size: 4em;
}
.not-found p {
  font-size: 2em;
}