/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 2em;
    height: 2em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #023E8A;
  }
  
  .svg-icon circle {
    stroke: #023E8A;
    stroke-width: 1;
  }